body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
}
.input-group
{
    margin-bottom: 10px;
    width: 40%;
    margin: auto;
}
h2, h3 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #edab06;
}


table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#message {
    text-align: center;
    font-weight: bold;
    color: green;
}

#loadRegistrations{
    width: 200px;
    margin: auto;
}
